{
    "plugins": [
        "transform-object-rest-spread",
        "transform-decorators-legacy",
        "transform-class-properties"
    ],

    "presets": [
        "es2015",
        "react"
    ]
}
